{% block paragraph %}
  <div{{ attributes.addClass(classes) }} data-animate-cta="{{ content.field_call_to_action_animation[0] }}">
    {% block content %}
       {% if bundle == 'remote_video' %}
          <div class="video_background_{{ provider }}">
            <div class="video_foreground_{{ provider }}">
              <iframe src="{{ url }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
       {% else %}
          {{ content.field_call_to_action_media }}
       {% endif %}
        <section class="center_content container px-3">
            {%  if cta_logo == 1 %}
            <img class="logo" src="{{ logo }}" width="100%" height="100%" />
            {% endif %}
            <h1 class="title-header" >{{ content.field_call_to_action_header[0] }}</h1>
            {% if true in content.field_call_to_action_subtext[0] %}
            <p class="lead" >{{ content.field_call_to_action_subtext[0] }}</p>
            {% endif %}

            {%  if true in content.field_call_to_action_hyperlink[0] %}
            {% for i in 0..content.field_call_to_action_hyperlink|length %}
                {% if content.field_call_to_action_hyperlink[i] is not null %}
                <a class="btn btn-dark" href="{{ content.field_call_to_action_hyperlink[i]['#url'] }}">{{ content.field_call_to_action_hyperlink[i]['#title'] }}&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                {% endif %}
            {% endfor %}
            {% endif %}
        </section>
    {% endblock %}
  </div>
{% endblock paragraph %}