<section id="review_page_cavalla">
      <!--Hero Image-->
    	<section class="hero_image">
        {%  if true in content.field_cavalla_photo_album_hero[0] %}
          <picture class="">
            <img  class="background_image" src="{% spaceless %}{{ content.field_cavalla_photo_album_hero[0] }}{% endspaceless %}" />
          </picture>
    		<section class="marketing_background_text center_text">
    			<section class="container">
    				<h1 class="title-header">{{ node.title.value }}</h1>
    			</section>
    		 </section>
        {% endif %}
    	</section>
      <!--Hero Image-->

      <!--Breadcrumb-->
      <section class="breadcrumb_section p-3">
          <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb">
                {{ breadcrumb }}
            </nav>
          </div>
      </section>
     <!--Breadcrumb-->
     <section class="container">
      <div class="media my-3">
          <img class="align-self-start mr-3" width="64" height="64" src="{{ content.field_cavalla_review_image[0] }}" alt="{{ content.field_cavalla_review_image[0]['#alt'] }}">
          <div class="media-body">
            <h5 class="mt-0">{{ content.field_cavalla_review_fn[0] }} {{ content.field_cavalla_review_ln[0] }}</h5>
            <p>{{ content.field_cavalla_review_quote[0] }}</p>
          </div>
      </div>
    </section>
</section>
