 <section class="w-100 d-md-table feature_blog_post">
  <section class="featurettes d-md-table-cell align-middle">
		<section class="container animation_featurettes_Off">
      <h1 class="title">{{ content.field_cavalla_fbp_header }}</h1>
      <p class="text">{{ content.field_cavalla_fbp_text }}</p>
		  <div class="row h-100 ">
				  <div class="col-lg-6 col-md-6 featurettes_image p-3">
            <img src="{{ image }}" width="100%" height="100%" alt="" />
          </div>
			    <div class="col-lg-6 col-md-6 featurettes_text my-auto ">
            <aside class="featurette text-md-left">
              <h2 class="featurette-heading">{{ title }}</h2>
              <p class="lead">{{ summary }}</p>
              <a class="btn btn-dark" href="{{ hyperlink }}">Read more&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </aside>
			    </div>
		    </div>
		</section>
	</section>
</section>
