<div class="swiper-slide" style="background-image: url( {{ content.field_cavalla_tc_image[0] }} )" data-year="{{ date_year }}">
  <div class="swiper-slide-content">
    <span class="timeline-year">{{ start_date }} {{ end_date }}</span>
    <h4 class="timeline-title">{{ content.field_cavalla_tc_event_title }}</h4>
    <div class="timeline-text">{{ content.field_cavalla_tc_event_detail[0] }}</div>
  </div>
</div>