<section class="container pt-4 reviews_feed_bundle">
  <div class="row text-md-center">
    <div class="col-12">
      <div class="">
        <h1 class="lead-in">{{ content.field_cavalla_reviews_feed_title[0] }}</h1>
        <p>{{ content.field_cavalla_reviews_feed_text[0] }}</p>
      </div>
    </div>
    <div class="col-12 star_rating_{{ total_user_average_class }}">
      <span class="fa fa-star star_rating checked"></span>
      <span class="fa fa-star star_rating checked"></span>
      <span class="fa fa-star star_rating checked"></span>
      <span class="fa fa-star star_rating checked"></span>
      <span class="fa fa-star"></span>
      <p>{{ total_user_average }} average based on {{ total_results }} reviews.</p>
    </div>
  </div>
  <section class="graph py-5">
      <div class="row text-md-center">
        <div class="col-md-1">
          <div>5 star</div>
      </div>
      <div class="col-md-10">
          <div class="bar-container">
            <div style="width:{{ five_star_width }}" class="bar-5"></div>
          </div>
        </div>
        <div class="col-md-1">
          <div>{{ five_star }}</div>
        </div>
      </div>
      <div class="row text-md-center">
        <div class="col-md-1">
          <div>4 star</div>
        </div>
        <div class="col-md-10">
          <div class="bar-container">
            <div style="width:{{ four_star_width }}" class="bar-4"></div>
          </div>
        </div>
        <div class="col-md-1">
          <div>{{ four_star }}</div>
        </div>
      </div>
      <div class="row text-md-center">
        <div class="col-md-1">
          <div>3 star</div>
        </div>
        <div class="col-md-10">
          <div class="bar-container">
            <div style="width:{{ three_star_width }}" class="bar-3"></div>
          </div>
        </div>
        <div class="col-md-1">
          <div>{{ three_star }}</div>
        </div>
      </div>
      <div class="row text-md-center">
        <div class="col-md-1">
          <div>2 star</div>
        </div>
        <div class="col-md-10">
          <div class="bar-container">
            <div style="width:{{ two_star_width }}" class="bar-2"></div>
          </div>
        </div>
        <div class="col-md-1">
          <div>{{ two_star }}</div>
        </div>
      </div>
      <div class="row text-md-center">
        <div class="col-md-1">
          <div>1 star</div>
        </div>
        <div class="col-md-10">
          <div class="bar-container">
            <div style="width:{{ one_star_width }}" class="bar-1"></div>
          </div>
        </div>
        <div class="col-md-1">
          <div>{{ one_star }}</div>
        </div>
      </div>
      <div>
    </section>
  <section>
    {{ content.field_cavalla_review_feed_view[0] }}
  </section>
</section>
